<body>

    <div class="slider_bg">
        <!-- start slider -->
        <div class="container">
            <div class="row">
                <div id="da-slider" class="da-slider text-center">
                    <div class="da-slide">
                        <h2>education portal</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<span
                                class="hide_text"> Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a
                                galley of type and scrambled it to make a type specimen book.</span></p>
                        <h3 class="da-link"><a href="single-page.html" class="fa-btn btn-1 btn-1e">view more</a></h3>
                    </div>
                    <div class="da-slide">
                        <h2>online educations</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<span
                                class="hide_text">Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a
                                galley of type and scrambled it to make a type specimen book.</span></p>
                        <h3 class="da-link"><a href="single-page.html" class="fa-btn btn-1 btn-1e">view more</a></h3>
                    </div>
                    <div class="da-slide">
                        <h2>education portal</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<span
                                class="hide_text"> Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a
                                galley of type and scrambled it to make a type specimen book.</span></p>
                        <h3 class="da-link"><a href="single-page.html" class="fa-btn btn-1 btn-1e">view more</a></h3>
                    </div>
                    <div class="da-slide">
                        <h2>online educations</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<span
                                class="hide_text"> Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a
                                galley of type and scrambled it to make a type specimen book.</span></p>
                        <h3 class="da-link"><a href="single-page.html" class="fa-btn btn-1 btn-1e">view more</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end slider -->
    <div class="main_bg">
        <!-- start main -->
        <div class="container">
            <div class="main row">
                <div class="well">
                    Exam preparation courses</div>

                <div class="col-md-3 images_1_of_4 text-center">
                    <!-- <div [innerHtml]="yt_iframe_html" style="width: 80%;height: 300px;"></div> -->
                    <video width="100%" height="auto" controls>
                        <source src="assets/video/englist.mp4" type="video/mp4">
                    </video>

                    <h4><a href="#">Course English</a></h4>
                    <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the industry's standard dummy text 1500s.</p>
                    <a href="single-page.html" class="fa-btn btn-1 btn-1e">Add Cart</a>
                </div>
                <div class="col-md-3 images_1_of_4 bg1 text-center">
                    <video width="100%" height="auto" controls>
                        <source src="assets/video/math.mp4" type="video/mp4">
                    </video>
                    <h4><a href="#">Course Math</a></h4>
                    <p class="para">It is a long established fact that a reader will be distracted by the readable
                        content of a
                        page when looking at its layout.</p>
                    <a href="single-page.html" class="fa-btn btn-1 btn-1e">Add Cart</a>
                </div>
                <div class="col-md-3 images_1_of_4 bg1 text-center">
                    <!-- <div [innerHtml]="vimeo_iframe_html"></div> -->
                    <!-- <iframe src="" frameborder="100%"
              style="width: 100%;height: 250px;"></iframe> -->
                    <video width="100%" height="auto" controls>
                        <source src="assets/video/physical.mp4" type="video/mp4">
                    </video>
                    <h4><a href="#">Course Physical</a></h4>
                    <p class="para">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                        interested. Sections 1.10.32 by H. Rackham.</p>
                    <a href="single-page.html" class="fa-btn btn-1 btn-1e">Add Cart</a>
                </div>
                <div class="col-md-3 images_1_of_4 bg1 text-center">
                    <!-- <div [innerHtml]="vimeo_iframe_html"></div> -->
                    <video width="100%" height="auto" controls>
                        <source src="assets/video/foreignlanguage.mp4" type="video/mp4">
                    </video>
                    <h4><a href="#">Course
                            Literary</a></h4>
                    <p class="para">There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered
                        alteration in some form, by injected humour.</p>
                    <a href="single-page.html" class="fa-btn btn-1 btn-1e">Add Cart</a>
                </div>
            </div>
        </div>
    </div><!-- end main -->


</body>